

/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FIN RESET*/



h1 {
	font-size: 3em;
	display: inline;
	margin-left: 0.3em;
	font-weight: normal;

}
button {
	border: 1px solid #238c6a;
	padding: 0.5em 1em;
	color: #238c6a;
	border-radius: 5px;
	background-color: #FFFFFF;
}
.adoption {

	color: #238c6a;;
	font-size:1.3em;
	margin: 0 auto 1.8em;
	display: block;
    width: 160px;
}

.active , header ul a:hover{
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 1em;
}
svg {
	display: inline;
	vertical-align: sub;
	margin: 0 2em;
}
nav h2 {
	text-indent: -9999px;
	display: none;
}
#contact h2 {
	margin: 0 auto;
}
h2 {
	margin-top: 2em;
	margin-left: 2.5em;
	font-size: 1.5em;
	border-bottom: 1px solid #238c6a;
	font-family: "Futura LT bt", sans-serif;
	padding: 0.5em 1em;
	width: 150px;
	text-align: center;
}

.message {
	width: 40%;
}


label {
	color: #707070;
}
textarea{
	width: 100%;
	margin: .8em 0em;
	border: #238c6a 1px solid;
}
input {
	border: 0;
    border-bottom: #238c6a 1px solid;
    background: none;
    width: 100%;
    margin: 1.5em 0em;
}
p {
	margin: 1.5em 0.9em;
}

.info {
	padding: 6em 0;
	display: flex;
	justify-content: space-around;
	
}
.tel {
	display: block;
	color: #238c6a;
	margin-top: 1.5em;
}
.message{
	width: 500px;
}
.commentaire{
	margin-left: 2em;
}
dl {
	margin: 0 auto;
	width: 300px;
	overflow: hidden;
	clear: both;
	margin-bottom: 2em;
	border: 1px solid #238c6a;
	padding: 1.5em;
}

dl>div:first-child {
	float: left;
	text-align: right;
	width: 142px;
	display: inline-block;
	margin-right: 0.5em;
}
dl>div+div {
	float: right;
	text-align: left;
	width: 142px;
	display: inline-block;
	margin-left: 0.5em;
}
dd, dt {
	margin-bottom: 0.5em;
	width: 150px;
}

 .border {
	width: 25%;
	height: auto;
	border: thick double #666666;
	margin: 1em 2em;
}


.chatons{
	margin: 6em auto 2em;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.chats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
 img {

	border: thick double #666666;
	margin: 2em 3.5em 2em;

}
.lol {
	background-color: #D9AB7A;
	color: white;
	padding: 1em;
}





/******************/
/*****GENERAL******/
/*****************/

@font-face {
	font-family: Futura LT bt;
	src: url(../fonts/futura_light_bt.ttf);
}
@font-face {
	font-family: Brandon;
	src: url(../fonts/Brandon.ttf);
}
@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Light.ttf);
}
@font-face {
	font-family: 'Caflisch Script';
	src: url(../fonts/Caflisch-Script.ttf);
}
body {
	
	font-family: "Brandon", sans-serif;
	font-size: 16px;
	background-size: cover;
	overflow-wrap: break-word;
}
.accueil {
	background: url(../img/historique/race/numero4.jpg) no-repeat;
	background-size: cover;
	min-height: 800px;
}
header {
	background-image: linear-gradient(#cad15d,#238c6a);
	font-family: "Futura LT bt", sans-serif;
	font-weight: bold;
	min-height: 150px;
}
li {
	display: inline-block;
	
}
nav, ul {
	display: inline;
}
nav {
	position: relative;
	left: 300px;
	bottom: 100px;
}

li a {
	text-decoration: none;
	color: #463f35;
	font-variant: small-caps;
    margin: 0 0.5em;
    font-size: 1.2em;
}
a{
	color: #238c6a;
	text-decoration: none;
}
footer {
	max-height: 150px;
	background-color: #0b2b21;
	color: white;
	margin-top: 5em;
}
footer p {
	width: 190px;
	margin: auto;
	padding: 1.06em 0;
}
.nav-footer {
	position: initial;
	margin: 0 auto 1em;
	width: 500px;
    display: block;
    text-align: center;
    padding-top: 1em;
}
.nav-footer li a {
	color: white;
	font-size: 1em;
}

.der{
	padding-top: 0.5em;
}

/******************/
/*****ACCUEIL******/
/*****************/
.accueil li a {
	color: white;
}

/******************/
/*****CHATONS******/
/*****************/


/*****************/
/*****CHATS******/
/****************/
.chat h2{
	margin: 4.5em 2.5em 0em;
    font-family: "Futura Lt Bt", sans-serif;
    font-size: 1.6em;
    width: 100px;
}
h3 {
	font-family: "Caflisch Script";
	font-size: 3em;
	margin: 4.5em auto 1em;
    width: 400px;
}
.nero{
	width: 480px;
	padding: 0 0.5em;
    border-left: 1px solid #0b2b21;
    border-right: 1px solid #0b2b21;
    margin-top: 1.5em;
}
.zeus, .douchka, .acapella{
	width: 300px;
	padding: 0 0.5em;
    border-left: 1px solid #0b2b21;
    border-right: 1px solid #0b2b21;
}
.acapella {
    margin-top: 1.5em;
}

.katrina{
	width: 200px;
	padding: 0 0.5em;
    border-left: 1px solid #0b2b21;
    border-right: 1px solid #0b2b21;
}
.chat p {
	width: 600px;
    margin: 1.5em auto;
    border-left: 1px solid #238c6a;
    padding-left: 1.5em;
    line-height: 30px;
}
em{
	font-weight: bold;
}

/*****************/
/*****ALBUM******/
/****************/

.album{
	margin: 3em auto 6em;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
video {
	margin-top: 1em;
}
.evolution {
 width: 150px;
 font-family: "Futura LT Bt", sans-serif;
 font-size: 1.6em;
 margin: 4.5em 2.5em 0em;
}

/*********************/
/*****HISTORIQUE******/
/*********************/
.naissance{
	width: 420px;
}
.caractere {
	width: 310px;
}

.look{
	width: 120px;
}
.origine, .sante {
	width: 300px;
}


/**********************/
/*****Commentaires*****/
/**********************/

q:before{
	content: '‘';
	font-size: 5em;
	font-family: "didot";
}
/*q:after {
	content: "’";
	font-size: 5em;
	font-family: "didot";
}*/
.comments {
	margin: 2em auto;
	width: 600px;
}
.comments+.comments{
	margin-bottom: 4em;
}
.person {
	text-align: right;
	font-size: 0.7em;
}